#!/usr/bin/env bash
PROJECT_HOME="$(pwd)"
PROJECT="$(basename "$PROJECT_HOME")"

export PROJECT_HOME
export PROJECT
export PATH="$PATH:$PROJECT_HOME/scripts"

set -a
for file in .env .*.env $HOME/$PROJECT.env; do
  if [ -f "$file" ]; then
    source "$file"
  fi
done
set +a
